<!DOCTYPE html>
<html ng-app="breakdown">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/font-awesome.min.css" />
</head>
<body ng-controller="mainCtrl as ctrl">
    <div class="container-fluid">
        <form>
            <div ng-repeat="i in ctrl.instruments" class="form-group">
                <div class="form-row">
                    <label ng-bind="i.name" class="col-2 text-capitalize col-form-label"></label>
                    <input ng-model="i.volume" type="range" class="col-8 form-control-range" min="0" max="1" value="1" step="0.01" title="Volume {{i.volume * 100 | number: 0}}%">
                    <div class="col-2">
                        <button id="#{{i.name}}Mute" class="btn btn-sm" ng-click="i.mute()" ng-class="{ 'btn-danger': i.muted, 'btn-outline-danger': !i.muted }">
                            <span>Mute</span>
                        </button>
                    </div>
                </div>
            </div>
            <input ng-model="ctrl.volume" type="range" class="col-8 form-control-range" min="0" max="1" value="1" step="0.01" title="Volume {{ctrl.volume * 100 | number: 0}}%">
            <button type="submit" class="btn btn-primary" ng-click="ctrl.play()" ng-switch="ctrl.playing">
                <i class="fa fa-fw fa-pause" ng-switch-when="true"></i>
                <i class="fa fa-fw fa-play" ng-switch-when="false"></i>
            </button>
        </form>
        <span ng-bind="ctrl.elapsed"></span>
        <input ng-model="ctrl.percentage" type="range" class="form-control-range" min="0" max="1" step="0.0001" />
        <!--


        <audio id="#bongo" src="audio/bongo.mp3" type="audio/mpeg"></audio>
        <audio id="#guira" src="audio/guira.mp3" type="audio/mpeg"></audio>
        <audio id="#bass" src="audio/bass.mp3" type="audio/mpeg"></audio>

        <p>
            <span>Bongo</span>
            <input type="range" class="custom-range" id="#bongoVolume" min="0" max="1" value="1" step="0.01">
            <button id="#bongoMute" type="button" class="btn btn-primary" data-muted="false" aria-checked="false">
                <i class="fa fa-fw fa-volume-off"></i>
            </button>
        </p>
        <p>
            <input type="range" id="#guiraVolume" min="0" max="1" value="1" step="0.01">
            <button id="#guiraMute" data-muted="false" aria-checked="false">
                <span>Mute</span>
            </button>
        </p>
        <p>
            <input type="range" id="#bassVolume" min="0" max="1" value="1" step="0.01">
            <button id="#bassMute" data-muted="false" aria-checked="false">
                <span>Mute</span>
            </button>
        </p>
        <p>
            <button id="#play" data-playing="false" aria-checked="false">
                <span>Play/Pause</span>
            </button>
        </p>
            -->
    </div>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/breakdown/breakdown.min.js"></script>
    <!--<script>
        const audioContext = new (window.AudioContext || window.webkitAudioContext)();

        function setupTrack(name) {
            const mediaElement = document.getElementById("#" + name);
            mediaElement.addEventListener('ended', () => { playButton.dataset.playing = 'false'; }, false);
            const track = audioContext.createMediaElementSource(mediaElement);
            const gain = audioContext.createGain();
            const volumeElement = document.getElementById("#" + name + "Volume");
            volumeElement.addEventListener("input", function () { gain.gain.value = this.value; });
            const muteElement = document.getElementById("#" + name + "Mute");
            muteElement.addEventListener("click", function () {
                if (this.dataset.muted === "false") {
                    gain.gain.value = 0;
                    this.dataset.muted === "true";
                } else if (this.dataset.muted === "true") {
                    gain.gain.value = volumeElement.value;
                    this.dataset.muted === "false";
                }
            });
            track.connect(gain).connect(audioContext.destination);
            return mediaElement;
        }

        const bongoElement = setupTrack("bongo");
        const guiraElement = setupTrack("guira");
        const bassElement = setupTrack("bass");

        const playButton = document.getElementById("#play");

        playButton.addEventListener('click', function () {

            // check if context is in suspended state (autoplay policy)
            if (audioContext.state === 'suspended') {
                audioContext.resume();
            }

            // play or pause track depending on state
            if (this.dataset.playing === 'false') {
                bongoElement.play();
                guiraElement.play();
                bassElement.play();
                this.dataset.playing = 'true';
            } else if (this.dataset.playing === 'true') {
                bongoElement.pause();
                guiraElement.pause();
                bassElement.pause();
                this.dataset.playing = 'false';
            }

        }, false);
    </script>-->
</body>
</html>