<!DOCTYPE html>
<html ng-app="breakdown">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/font-awesome.min.css" />
</head>
<body ng-controller="mainCtrl as ctrl">
    <div class="container">
        <br />
        <div class="jumbotron text-center" ng-if="!ctrl.ready">
            <h4>
                <i class="fa fa-fw fa-spin fa-cog"></i>
                <span>Loading instruments&hellip;</span>
            </h4>
        </div>
        <div ng-if="ctrl.ready">
            <div ng-repeat="i in ctrl.instruments">
                <div class="form-group form-row">
                    <span ng-bind="i.name" class="text-capitalize col-3"></span>
                    <div class="col-9 btn-group btn-group-sm">
                        <button type="button" class="btn" ng-class="{ 'btn-dark': i.level === 'mute', 'btn-outline-dark': i.level !== 'mute' }" ng-click="ctrl.level(i, 'mute')">
                            <i class="fa fa-fw fa-volume-off"></i>
                        </button>
                        <button type="button" class="btn" ng-class="{ 'btn-dark': i.level === 'quiet', 'btn-outline-dark': i.level !== 'quiet' }" ng-click="ctrl.level(i, 'quiet')">
                            <i class="fa fa-fw fa-volume-down"></i>
                        </button>
                        <button type="button" class="btn" ng-class="{ 'btn-dark': i.level === 'normal', 'btn-outline-dark': i.level !== 'normal' }" ng-click="ctrl.level(i, 'normal')">
                            <i class="fa fa-fw fa-volume-up"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-dark" ng-click="ctrl.rewind()" ng-disabled="!ctrl.ready">
                    <i class="fa fa-fw fa-fast-backward"></i>
                </button>
                <button type="button" class="btn btn-dark" ng-click="ctrl.toggle()" ng-disabled="!ctrl.ready">
                    <i class="fa fa-fw fa-play"></i>
                </button>
            </div>
            <div id="#beatCounter"></div>
        </div>
    </div>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/tonejs/Tone.min.js"></script>
    <script src="Scripts/breakdown/breakdown.min.js"></script>

</body>
</html>